/*Menu*/
 ul {
 	list-style-type: none;
 	margin: 0;
 	padding: 0;
 	overflow: hidden;
 	background-color: #333;
 }

 /*Menu*/
 body {
 	margin: 0;
 }

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

li a.active {
	background-color: #4CAF50;
}

ul.home {
	float:right;
	list-style-type:none;
}

ul.home img {
	height: 14px;
}

/*Container*/
.container {
	background: #d0d0d0;
	padding: 0 16px 16px;
}

.container .header {
	font-size: 2em;
	padding: 14px 0;
}

/*Form*/
#form-container {
	transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
}

form label {
	display: block;
}

.input-box {
	width: 50%;
	padding: 5px 20px;
	margin: 5px 0 10px 0;
	display: block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type=text]:focus, input[type=date]:focus {
	border: 1px solid #34054C;
}

a.btn {
	display: inline-block;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
	text-decoration: none;
	background-color: #992E68;
	color: white;
	padding: 5px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
}

a.btn:hover {
	background-color: #7B154D;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
}

/*Table styles*/
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 8px;
}

th {
	background-color: #46A349;
	color: white;
}

tr > td > form > button.customer-delete {
	display: block;
	text-decoration: none;
	background: url(../img/delete.png) no-repeat 50% 50%;
	padding: 15px 20px;
	cursor: pointer;
	border: none;
}

tr:nth-child(even){background-color: #acacac}
tr:nth-child(odd){background-color: #a0a0a0}

tr:hover {
	background-color: rgba(76, 175, 80, 0.5);
}

#Krahe{
	display: inline}

#logo{
    margin-right: 10px;}
